@{
    ViewBag.Title = "CadastrarCupomFiscal";
}

    <div class="mg-t-15">
        <div class="form-example-wrap">
            <div class="col-md-12">
                <h3>Cadastrar Cupom Fiscal</h3>
            </div>
            <div class="col-md-12">
                <div class="form-example-int form-horizental">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                <label class="hrzn-fm">COO</label>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-11">
                                <div>
                                    <select class="form-control" id="coo"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Número NF referente</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-11">
                                    <div class="nk-int-st">
                                        <select class="form-control" id="numero_nf_referente"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Posto Fornecedor</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-11">
                                    <div class="nk-int-st">
                                        <input class="form-control" id="posto_fornecedor"></input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Data</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-11">
                                    <div class="nk-int-st">
                                        <input type="date" class="form-control" id="posto_fornecedor">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Horario</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-11">
                                    <div class="nk-int-st">
                                        <input type="time" class="form-control" id="preco_unitario"></input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Combustivel</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-11">
                                    <div class="nk-int-st">
                                        <select class="form-control" id="combustivel"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Quantidade</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-11">
                                    <div class="nk-int-st">
                                        <input class="form-control" id="quantidade"></input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Preço Unitário</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-11">
                                    <div class="nk-int-st">
                                        <input class="form-control" id="preco_unitario"></input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Valor Total</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-11">
                                    <div class="nk-int-st">
                                        <input class="form-control" id="valor_total"></input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Cliente</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-11">
                                    <div class="nk-int-st">
                                        <input class="form-control" id="cliente"></input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Veículo</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-11">
                                    <div class="nk-int-st">
                                        <input class="form-control" id="veiculo"></input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Placa veículo</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-11">
                                    <div class="nk-int-st">
                                        <input class="form-control" id="placa_veiculo"></input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Hodômetro</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-11">
                                    <div class="nk-int-st">
                                        <input class="form-control" id="hodometro"></input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-icon-btn">
                        <button class="btn btn-default btn-icon-notika" id="cadastrar-tabela">
                            Enviar
                        </button>
                    </div>
                </div>
        </div>
    </div>

