@model WebApp.Models.NotaFiscalModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cadastrar Cupom Fiscal";
}
<div class="form-example-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-example-wrap mg-t-30">
                    <div class="cmp-tb-hd cmp-int-hd">
                        <h3>Cadastrar Cupom Fiscal</h3>
                    </div>
                    <div class="form-example-int form-horizental">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm required">SDGP</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div>
                                        <input type="text" id="sgdp_escolhido" class="form-control input-sm" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">COO</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <!-- <select class="form-control ui fluid search dropdown" id="coo"></select> -->
                                        <div class="ui sub header">Single</div>
                                        <select name="skills" class="ui fluid search dropdown" wtx-context="C97480B0-E3B2-4E4B-84A5-9ACBCB52074B">
                                            <option value="">Skills</option>
                                            <option value="angular">Angular</option>
                                            <option value="css">CSS</option>
                                            <option value="design">Graphic Design</option>
                                            <option value="ember">Ember</option>
                                            <option value="html">HTML</option>
                                            <option value="ia">Information Architecture</option>
                                            <option value="javascript">Javascript</option>
                                            <option value="mech">Mechanical Engineering</option>
                                            <option value="meteor">Meteor</option>
                                            <option value="node">NodeJS</option>
                                            <option value="plumbing">Plumbing</option>
                                            <option value="python">Python</option>
                                            <option value="rails">Rails</option>
                                            <option value="react">React</option>
                                            <option value="repair">Kitchen Repair</option>
                                            <option value="ruby">Ruby</option>
                                            <option value="ui">UI Design</option>
                                            <option value="ux">User Experience</option>
                                        </select>
                                        <div class="ui sub header">Multiple</div>
                                        <div class="ui fluid multiple search selection dropdown">
                                            <input name="tags" type="hidden" wtx-context="E41793A6-05BB-48D0-81EF-FE0231BA035E">
                                            <i class="dropdown icon"></i>
                                            <div class="default text">Skills</div>
                                            <div class="menu">
                                                <div class="item" data-value="angular">Angular</div>
                                                <div class="item" data-value="css">CSS</div>
                                                <div class="item" data-value="design">Graphic Design</div>
                                                <div class="item" data-value="ember">Ember</div>
                                                <div class="item" data-value="html">HTML</div>
                                                <div class="item" data-value="ia">Information Architecture</div>
                                                <div class="item" data-value="javascript">Javascript</div>
                                                <div class="item" data-value="mech">Mechanical Engineering</div>
                                                <div class="item" data-value="meteor">Meteor</div>
                                                <div class="item" data-value="node">NodeJS</div>
                                                <div class="item" data-value="plumbing">Plumbing</div>
                                                <div class="item" data-value="python">Python</div>
                                                <div class="item" data-value="rails">Rails</div>
                                                <div class="item" data-value="react">React</div>
                                                <div class="item" data-value="repair">Kitchen Repair</div>
                                                <div class="item" data-value="ruby">Ruby</div>
                                                <div class="item" data-value="ui">UI Design</div>
                                                <div class="item" data-value="ux">User Experience</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Número NF</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <input type="text" id="numero_nf" class="form-control borderless-field" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Posto Fornecedor</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <input id="posto_fornecedor" class="form-control borderless-field" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm required">Data de Emissão</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <input type="date" class="form-control borderless-field" id="data_emissao">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group ">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Combustível</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div>
                                        <select class="form-control" id="combustivel">
                                            <option value="ETA">Etanol Hidratado</option>
                                            <option value="GAS">Gasolina Comum</option>
                                            <option value="DIE">Óleo Diesel</option>
                                            <option value="S10">Óleo Diesel S10</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm required">Quantidade</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <input type="number" id="quantidade" class="form-control borderless-field">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm required">Preço Unitário</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <input class="form-control borderless-field" id="preco_unitario" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm required">Valor Total</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <input class="form-control borderless-field" id="valor_total" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Cliente</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <input type="text" id="cliente" class="form-control borderless-field" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Veículo</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <input type="text" id="veiculo" class="form-control borderless-field" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Placa Veículo</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <input type="text" id="placa_veiculo" class="form-control borderless-field" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Hodômetro</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <input type="text" id="hodometro" class="form-control borderless-field" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label class="hrzn-fm">* campos obrigatórios</label>
                    </div>
                    <div class="button-icon-btn">
                        <button class="btn btn-default btn-icon-notika" id="cadastrar-cupom-fiscal">
                            Enviar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section JavascriptPagina {
    <script type="text/javascript">
        var urlCadastrarCupomFiscal= '@Url.Action("Cadastrar", "CupomFiscal")';
    </script>
    <script type="text/javascript" src="~/Scripts/CupomFiscal/CupomFiscal.js"></script>
    <script type="text/javascript">
        $('.tag.example .ui.dropdown')
            .dropdown({
                allowAdditions: true
            })
            ;
    </script>
}
