@{
    ViewBag.Title = "Cadastrar Tabela";
}
<div class="form-example-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-example-wrap mg-t-30">
                    <div class="cmp-tb-hd cmp-int-hd">
                        <h3>Cadastrar Nova Tabela</h3>
                        <p>Digite os campos abaixo para criar uma nova tabela</p>
                        <img class="carregando" src="~/img/loading.gif" />
                    </div>
                    <div class="form-example-int form-horizental">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm required">SGDP</label>
                                </div>
                                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <input type="text" class="form-control input-sm" id="sgdp" maxlength="20">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Analista Responsável</label>
                                </div>
                                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <input id="analista-resp" type="text" class="form-control input-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Data Geração da Tabela</label>
                                </div>
                                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                    <div>
                                        <input type="text" id="data-geracao" class="form-control input-sm" name="data-geracao" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm required">Município(s)</label>
                                </div>
                                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <select class="form-control municipios-anp-busca" id="municipios"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm required">Ano(s) referentes</label>
                                </div>
                                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                    <div class="bootstrap-select">
                                        <select class="municipios-anp-busca form-control" id="anos-referentes" multiple="multiple">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-icon-btn">
                        <button class="btn btn-default btn-icon-notika required" id="check-disponibilidade-anp">
                            Checar disponibilidade tabela ANP *
                        </button>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15" id="municipios-anp-div">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm required">Municipio(s) Referência</label>
                                </div>
                                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <select class="form-control" id="municipios-anp"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm required">Título Aba 1 - NFs x ANP</label>
                                </div>
                                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <input type="text" id="titulo1" class="form-control input-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm required">Título Aba 2 - Cupons Fiscais</label>
                                </div>
                                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <input type="text" id="titulo2" class="form-control input-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm required">Título Aba 3 - Outras Informações</label>
                                </div>
                                <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <input type="text" id="titulo3" class="form-control input-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-icon-btn">
                        <button class="btn btn-default btn-icon-notika" id="cadastrar-tabela">
                            Enviar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section JavascriptPagina {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".carregando").hide();
        });

        var urlObterMunicipioPorNomeAno = '@Url.Action("ObterMunicipioAnpPorNomeAno", "Home")',
            urlCadastrarTabelaUsuario = '@Url.Action("CadastrarTabela", "TabelaUsuario")';

    </script>
    <script type="text/javascript" src="~/Scripts/ObterExcel/obterExcel.js"></script>
    <script type="text/javascript" src="~/Scripts/Municipios/municipio.js"></script>
    <script type="text/javascript" src="~/Scripts/TabelaUsuario/cadastrarTabela.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-select.js"></script>
}
